html, body {
    @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
    font-family: 'Merriweather', sans-serif;
    font-size: 4vh;
    margin: 0;
    background-color: #141414;
    color: #F7F0F5;
}

p {
    margin: 0;
    font-size: .5em;
  }