html, body {
    @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
    font-family: 'Sofia Sans', sans-serif;
    font-size: 5vh;
    margin: 0;
    background-color: #141414;
    color: #FDFFFC;
}

p {
    margin: 0;
    font-size: .5em;
  }