@use "sass:selector";
@use "sass:math";
@use "styles/var.module.scss";

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  background-color: var.$background-color;
  color: var.$text-color;
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 20vh;
  margin-top: 10vw;
  text-align: left;
}

.aboutText {
  width: 35vw;
  font-size: .75em;
  user-select: none;

  p {
    font-size: inherit;
    color: var.$dark-color;
  }

  span[data-value="key"] {
    color: var.$accent-color2;
  }

  span[data-value="syntax"] {
    color: var.$accent-color;
  }

  a {
    text-decoration: underline;
    color: inherit;
  }

}

.brackets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40vh;
  width: 60vw;
  height: 40vh;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  span {
    color: var.$dark-color;
    margin-top: -5vh;
    margin-left: -2.9vw;
    margin-right: -2.9vw;
    z-index: 3;
    pointer-events: none;
  }
}

$stringHeight: 30;

.stringContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35.5vw;
  height: $stringHeight + vh;
  pointer-events: all;
  border: 2px solid var.$dark-color;
  border-left: 0;
  border-right: 0;
  overflow: hidden;

  div {
    width: 100%;
    height: calc($stringHeight/6) + vh;
    flex-shrink: 0;
    pointer-events: all;
  }
}