@use "sass:selector";
@use "sass:math";
@use "styles/var.module.scss";

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  background-color: var.$background-color;
  color: var.$text-color;
}

.about {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 20vh;
  margin-top: 12vw;
  margin-bottom: 2vw;
  text-align: left;
  p {
    width: 35vw;
    font-size: .65em;
  }
}

$stringTop: 25;
$stringHeight: 30;
$containerHeight: 20;
.stringContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: stringHeight + vh;
  pointer-events: all;
  overflow: hidden;
  div {
    width: 100%;
    height: calc($stringHeight/6) + vh;
    pointer-events: all;
  }
}

:export {
  stringTop: $stringTop;
  stringHeight: $stringHeight;
  containerHeight: $containerHeight;
}