@use "sass:selector";
@use "sass:math";

$background-color: #141414;
$light-color: #F7F3F3;
$dark-color: #928B8F;
$text-color: #F2E9E4;


.main {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 1em;
  background-color: $background-color;
  color: $text-color;
  overflow: hidden;
  transform: rotate3d(1, 1, 2);
}

.about {
  width: 33vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    transition: all .5s;
    transform: translateX(30vw);
    animation: slideAnim 1s forwards 4s;
  }

  &:hover {
    span {
      font-size: 1.25em;
      color: $dark-color;
    }
  }
  
}

.blog {
  width: 33vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    transition: all .5s;
    transform: translateX(-30vw);
    animation: slideAnim 1s forwards 4s;
  }

  &:hover {
    span {
      font-size: 1.25em;
      color: $dark-color;
    }
  }
  
}

@keyframes slideAnim {
  to {
    transform: translateX(0vw);
  }
}

@keyframes glowAnim {
  0% {
    box-shadow: 0 0 50px $light-color
  }
  100% {
    box-shadow: 0 0 150px $light-color
    
  }
}

.scrollBox {
  position: relative;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 1s;
}

.startSection {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scrollInAnim {
  from { width: 0; }
}

.scrollIn {
  width: 5em;
  height: 1em;
  white-space: nowrap;
  overflow: hidden;
  animation: scrollInAnim 2s steps(100,end);
}

@keyframes fadeInAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnim 1s linear 3s forwards;
}

