@use "styles/Home.module";

.section {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 90vw;
  height: 100%;
}

.content {
  width: 100%;
  height: 50vh;
  padding-left: 4vw;

  h1 {
    margin: 15vh 0 2vh 0;
    font-size: 1.5em;
  }
}

.fret {
  width: 95%;
  height: 41vh;
  display: flex;
  flex-direction: column;
  padding: 5vh 0 0 0;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  overflow-x: hidden;

  div {
    display: inherit;
    flex-direction: inherit;
    z-index: 2;

    div {
      height: 1.3em;
      padding-left: 3vw;
      padding-right: 3vw;
      font-size: .6em;
      text-decoration: none;
      pointer-events: all;

      span {
        transition: all 500ms;
        color: Home.$dark-color;
        &:hover {
          color: Home.$text-color;
          
        }
      }
    }
  }
}

.introSlide {
  div {
    transform: translateX(-75vw);

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        transition: #{$i*250}+ms;
        animation: btnSlide .25s linear forwards #{1600+($i*250)}+ms;
      }
    }

    span {

    }
  }
}

@keyframes btnSlide {
  to {
    transform: translateX(0vw);
    transition: none;
  }
}