@use "styles/Home.module";

.soundHole {
  position: relative;
  width: 36vw;
  height: 36vw;
  flex-shrink: 0;
  border-width: .2vw;
  border-radius: 100%;
  border-style: solid;
  border-color: Home.$dark-color;
  box-shadow: 0 0 50px Home.$light-color;
  animation-name: introAnim, glowAnim;
  animation-duration: 2s, 3s;
  animation-timing-function: ease-out, linear;
  animation-delay: 0s, 2s;
  animation-direction: normal, alternate;
  animation-iteration-count: 1, infinite;
  // animation: glowAnim 3s linear infinite alternate 2.5s;
  // animation: introAnim 2s ease-out;
  
  background-image: radial-gradient(Home.$light-color 10%, Home.$light-color 130%);
  z-index: 1;

  div {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  span {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: Home.$background-color;

    animation: fadeIn 5s;

    border-radius: 100%;
    margin: 0;
    background-image: radial-gradient(Home.$light-color 35%, Home.$light-color 125%);
    z-index: 1;

    transition: 1s;
    opacity: 1;

    &:hover {
      transition: .5s .1s;
      opacity: 0;
    }

    &:checked {
      transition: .15s;
      opacity: .5;
    }

  }
}

@keyframes introAnim {
  0% {
    transform: scale(10);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}