@use "styles/var.module";
@use "styles/Home.module";

.stringMask {
  //stroke: black;
  stroke-width: 8px;
  fill: none;
  pointer-events: none;
}

.stringPath {
  //stroke: var.$text-color;
  stroke-width: 3px;
  fill: none;
  pointer-events: none;
}

.stringSvg {
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow: clip;
  pointer-events: none;
  background-color: var.$background-color;
  flex-shrink: 0;
}
