.stringPath {
    stroke: #FDFFFC;
    stroke-width: 3px;
    fill: none;
  }
  
  .stringSvg {
    position: absolute;
    top: 58vh;
    left: 100vw;
    width: 35vh;
    height: 100vw;
    transform-origin: top left;
    transform: rotate(90deg);
    overflow: visible;
    z-index: 11;
  }