$background-color: #111418;
$light-color: #B9C0C1;
$dark-color: #49505A;
$text-color: #EEEEEE;
$accent-color: #F0BC42;

:export {
  backgroundColor: $background-color;
  lightColor: $light-color;
  darkColor: $dark-color;
  textColor: $text-color;
  accentColor: $accent-color;
}